<div class="container-fluid player-card-container">
  <div class="row">

    <div class="col-2 player-img-container">
      <img class="player-img" src={{getPlayerFaceImage()}} alt="Card image cap">
    </div>

    <!-- [style.backgroundImage]="getHeaderBackgroundImageUrl()" -->
    <div class="col-9">
      <div class="player-name">{{player.name}}</div>
      <p class="card-text">
        <mat-list class="att-list">
          <mat-list-item role="listitem">Pos: {{player.position}}</mat-list-item>
          <mat-list-item role="listitem">Age: {{player.age}}</mat-list-item>
          <mat-list-item role="listitem">Overall: {{player.OVK}}</mat-list-item>
          <mat-list-item role="listitem">Bracket: {{player.expSalary}}</mat-list-item>
        </mat-list>
      </p>
      <div class="button-row">
        <button mat-mini-fab color="primary" #tooltip="matTooltip" matTooltip="Entamer des négociations"
          [matTooltipPosition]="'right'" [disabled]="isButtonDisabled()" matTooltipHideDelay="1000"
          (click)="onStartNegociations()">
          <mat-icon>history_edu</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>