.player-card-container{
  margin: 2% auto 2% auto;
}

.player-img-container{
 /* background-color: rgba(62, 62, 62, 0.2);*/
 width: 168px;
 height: 168px;
 background-repeat: no-repeat;
}


.player-img{
  width: 168px;
  height: 168px;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
}

.player-name{
  font-size: 34px;
  margin-bottom: 2%;
  margin-top: 1%;
}

.button-row {
  margin-top: -10px;
  margin-left: 4px;
}
