table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
  font-size: 30px;
}

/* .mat-column-OVK{
  text-align: center;
} */

.mat-row:nth-child(even) {
  background-color: rgb(62, 62, 62);
}

.players-filter{
  width: 100%;
  padding-top: 16px;
  padding-bottom: 3px;
}

/*.mat-row:nth-child(odd) {
  background-color: lightgray;
}*/
