table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
  font-size: 30px;
}

/* .mat-column-OVK{
  text-align: center;
} */

.mat-row:nth-child(even) {
  background-color: rgb(62, 62, 62);
}

.players-filter{
  width: 100%;
  padding-top: 16px;
  padding-bottom: 3px;
}

/*.mat-row:nth-child(odd) {
  background-color: lightgray;
}*/

.example-element-detail {
  overflow: hidden;
  display: flex;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgba(255, 255, 255, 0.5);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: rgba(255, 255, 255, 0.75);
}

.example-element-row td {
  border-bottom-width: 0;
}
