<mat-toolbar color="primary" *ngIf="isSignedIn" >
  <mat-toolbar-row class="mat-elevation-z8">
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span class="navbar-brand">DB Agents Libres</span>
    <span class="menu-spacer"></span>
    <img class="team-logo" src="{{teamLogoURL}}">
    <span>{{connectedUsername}}</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56">

    <mat-nav-list>
      <!-- <a mat-list-item [routerLink]="'/my-free-agents'" [routerLinkActive]="['active']"> Mes Agents Libres </a> -->
      <a mat-list-item [routerLink]="'/my-salary-cap'" [routerLinkActive]="['active']"> Masse Salariale</a>
      <a mat-list-item [routerLink]="'/app-all-free-agents'" [routerLinkActive]="['active']"> Joueurs Disponibles </a>
      <!-- <a mat-list-item [routerLink]="'/negociations'" [routerLinkActive]="['active']">
        <span matBadge="{{getNegociationsCount()}}" matBadgeOverlap="false" matBadgeSize="medium">Négociations </span>
      </a>-->
      <a *ngIf="isAdmin" mat-list-item [routerLink]="'/adm-teams-summary'" [routerLinkActive]="['active']"> Sommaire par équipe </a>
      <a *ngIf="isAdmin" mat-list-item [routerLink]="'/adm-results'" [routerLinkActive]="['active']"> Résultats préliminaires </a>
      <amplify-sign-out button-text="Déconnecter"></amplify-sign-out>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 95vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
