.page-title{
  font-size: 50px;
  margin-top: 2%;
  margin-bottom: 3%;
  font-weight: bold;
  text-align: center;
}

.button-row {
  display: table-cell;
  width: 490px;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}